include assets/includes/head.pug
body
	include assets/includes/header.pug

	main
		section.c-wrapper.-hero 
			.container.-hero
				.hero
					h1._title Hello Print
					p._subtitle Самая удобная система по управлению полиграфическим бизнесом
					button.c-button._button.header__button--request
						span Заявка на подключение
					._video
						video(src="assets/helpers/0001-0195.mp4" autoplay='autoplay' preload='auto' loop muted height='544px')
							source(src="assets/helpers/0001-0195.mp4" type="video/mp4")

		section.container.-pre-features
			.pre-features
				._item
					._animation
						svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
							rect(width="150" height="150" fill="white")
							rect(width="10" height="73" rx="5" transform="matrix(1 0 0 -1 51 111)" fill="url(#paint0_linear_24_820)")
							rect(x="88" y="38" width="10" height="73" rx="5" fill="url(#paint1_linear_24_820)")
							g(class='settings-animation--1' filter="url(#filter0_bii_24_820)")
								circle( cx="56" cy="85" r="15" fill="#EADCFF" fill-opacity="0.63")
							g(class='settings-animation--2' filter="url(#filter1_bii_24_820)")
								circle(cx="93" cy="65" r="15" fill="#01E0E2" fill-opacity="0.31")
							defs
								filter(id="filter0_bii_24_820" x="34" y="63" width="44" height="44" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
									feFlood(flood-opacity="0" result="BackgroundImageFix")
									feGaussianBlur(in="BackgroundImage" stdDeviation="3.5")
									feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_24_820")
									feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_24_820" result="shape")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-3")
									feGaussianBlur(stdDeviation="2.5")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
									feBlend(mode="normal" in2="shape" result="effect2_innerShadow_24_820")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-5")
									feGaussianBlur(stdDeviation="6")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 0.458823 0 0 0 0 0.156863 0 0 0 0 0.909804 0 0 0 0.14 0")
									feBlend(mode="normal" in2="effect2_innerShadow_24_820" result="effect3_innerShadow_24_820")
								filter(id="filter1_bii_24_820" x="71" y="43" width="44" height="44" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
									feFlood(flood-opacity="0" result="BackgroundImageFix")
									feGaussianBlur(in="BackgroundImage" stdDeviation="3.5")
									feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_24_820")
									feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_24_820" result="shape")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-3")
									feGaussianBlur(stdDeviation="2.5")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
									feBlend(mode="normal" in2="shape" result="effect2_innerShadow_24_820")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-5")
									feGaussianBlur(stdDeviation="6")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 0.764167 0 0 0 0 0.997904 0 0 0 0 1 0 0 0 1 0")
									feBlend(mode="normal" in2="effect2_innerShadow_24_820" result="effect3_innerShadow_24_820")
								linearGradient(id="paint0_linear_24_820" x1="5" y1="0" x2="5" y2="73" gradientUnits="userSpaceOnUse")
									stop(stop-color="#7528E8")
									stop(offset="1" stop-color="#F693FF")
								linearGradient(id="paint1_linear_24_820" x1="93" y1="38" x2="93" y2="111" gradientUnits="userSpaceOnUse")
									stop(stop-color="#01E0E2")
									stop(offset="1" stop-color="#3583F8")

					p._text Гибкие настройки
				._item
					._animation
						svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
							rect(width="150" height="150" fill="white")
							circle(class='system-animation--1' cx="73.5" cy="51.5" r="18.5" fill="url(#paint0_linear_24_404)")
							circle(class='system-animation--2' cx="52.5" cy="92.5" r="18.5" fill="url(#paint1_linear_24_404)")
							circle(class='system-animation--3' cx="97.5" cy="93.5" r="18.5" fill="url(#paint2_linear_24_404)")
							g(filter="url(#filter0_bii_24_404)")
								rect(width="52" height="52" rx="26" transform="matrix(1 0 0 -1 49 101)" fill="#E5FFFF" fill-opacity="0.78")
							defs
								filter(id="filter0_bii_24_404" x="42" y="42" width="66" height="66" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
									feFlood(flood-opacity="0" result="BackgroundImageFix")
									feGaussianBlur(in="BackgroundImage" stdDeviation="3.5")
									feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_24_404")
									feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_24_404" result="shape")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dx="1" dy="5")
									feGaussianBlur(stdDeviation="2.5")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
									feBlend(mode="normal" in2="shape" result="effect2_innerShadow_24_404")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-5")
									feGaussianBlur(stdDeviation="6")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 0.648701 0 0 0 0 0.906026 0 0 0 0 0.908333 0 0 0 1 0")
									feBlend(mode="normal" in2="effect2_innerShadow_24_404" result="effect3_innerShadow_24_404")
								linearGradient(id="paint0_linear_24_404" x1="73.5" y1="33" x2="73.5" y2="70" gradientUnits="userSpaceOnUse")
									stop(stop-color="#01E0E2")
									stop(offset="1" stop-color="#3583F8")
								linearGradient(id="paint1_linear_24_404" x1="52" y1="111" x2="52" y2="74" gradientUnits="userSpaceOnUse")
									stop(stop-color="#20B2E3")
									stop(offset="1" stop-color="#01E0E2")
								linearGradient(id="paint2_linear_24_404" x1="83.5" y1="106" x2="110" y2="80" gradientUnits="userSpaceOnUse")
									stop(stop-color="#7528E8")
									stop(offset="1" stop-color="#F693FF")

					p._text Всё в одной системе
				._item
					._animation
						svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
							rect(width="150" height="150" fill="white")
							path(class='introduction-animation--1' d="M110.125 61.543C109.575 59.0789 105.554 58.6333 103.029 58.6333C102.155 58.6333 101.557 59.5212 101.836 60.3501C102.801 63.2262 103.326 66.3028 103.326 69.4999C103.326 85.3944 90.3948 98.3257 74.5001 98.3257C58.6054 98.3257 45.6741 85.3946 45.6741 69.5001C45.6741 53.6056 58.6054 40.6743 74.5001 40.6743C79.5698 40.6743 84.4223 41.9901 88.7014 44.423C88.7046 44.4248 88.7087 44.4242 88.7113 44.4216C88.7139 44.419 88.7179 44.4185 88.7212 44.4203C89.1733 44.677 89.6187 44.9461 90.0569 45.2275C91.1046 45.9002 91.1993 47.3601 90.3188 48.2405L87.1548 51.4046C86.5866 51.9728 86.4167 52.8273 86.724 53.5698C87.0315 54.3123 87.756 54.7963 88.5596 54.7963H103.029C104.127 54.7963 105.016 53.9068 105.016 52.8095V38.3396C105.016 37.536 104.532 36.8115 103.79 36.504C103.047 36.1965 102.193 36.3666 101.625 36.9348C99.2498 39.3095 95.4917 39.4453 92.5746 37.7813C87.0054 34.6043 80.7621 33 74.5001 33C54.3739 33.0002 38 49.3739 38 69.5001C38 89.6262 54.3739 106 74.5001 106C94.6262 106 111 89.6261 111 69.5001C111 66.7679 110.698 64.1051 110.125 61.543Z" fill="url(#paint0_linear_24_545)")
							g(filter="url(#filter0_bii_24_545)")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M64.804 116H85.445C88.0929 116 90.5367 114.676 91.9791 112.457C93.4249 110.237 93.6493 107.466 92.5791 105.045L86.7103 91.7604C86.2164 90.6406 86.2164 89.3572 86.7103 88.2373L92.5791 74.9526C93.6481 72.5302 93.4249 69.7605 91.9791 67.5434C90.5356 65.324 88.0929 64 85.4439 64H64.804C62.1595 64 59.7156 65.324 58.2699 67.5434C56.8241 69.7605 56.6008 72.5313 57.6699 74.9526L63.5375 88.2385C64.0315 89.3583 64.0315 90.6417 63.5375 91.7615L57.6688 105.047C56.5986 107.47 56.823 110.238 58.2688 112.457C59.7145 114.675 62.1572 116 64.804 116Z" fill="#E8D8FF" fill-opacity="0.63")
							defs
								filter(id="filter0_bii_24_545" x="52" y="59" width="46.2479" height="62" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
									feFlood(flood-opacity="0" result="BackgroundImageFix")
									feGaussianBlur(in="BackgroundImage" stdDeviation="2.5")
									feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_24_545")
									feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_24_545" result="shape")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="5")
									feGaussianBlur(stdDeviation="10")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
									feBlend(mode="normal" in2="shape" result="effect2_innerShadow_24_545")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-5")
									feGaussianBlur(stdDeviation="6")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 0.458823 0 0 0 0 0.156863 0 0 0 0 0.909804 0 0 0 0.14 0")
									feBlend(mode="normal" in2="effect2_innerShadow_24_545" result="effect3_innerShadow_24_545")
								linearGradient(id="paint0_linear_24_545" x1="79.5" y1="106" x2="67.5" y2="27" gradientUnits="userSpaceOnUse")
									stop(stop-color="#7528E8")
									stop(offset="1" stop-color="#F693FF")

					p._text Быстрое внедрение
				._item
					._animation
						svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
							rect(width="150" height="150" fill="white")
							circle(class='safety-animation--1' cx="107" cy="91" r="17" fill="#7528E8")
							circle(class='safety-animation--2' cx="49.5" cy="67.5" r="23.5" fill="#01E0E2")
							g(filter="url(#filter0_bii_24_837)")
								path(class='safety-animation--3' d="M113.181 55.6374C113.156 53.7857 111.731 52.256 109.888 52.0868C94.5668 50.6538 82.0636 42.4659 77.9416 39.471C77.0801 38.843 75.9127 38.843 75.0513 39.471C70.9373 42.4659 58.4341 50.6538 43.1132 52.0868C41.2695 52.256 39.8525 53.7857 39.8203 55.6374C39.6351 67.7219 41.5754 108.749 75.5746 117.879C76.1784 118.04 76.8145 118.04 77.4183 117.879C111.417 108.758 113.358 67.7218 113.181 55.6374Z" fill="#EADCFF" fill-opacity="0.63")
							defs
								filter(id="filter0_bii_24_837" x="29.81" y="29" width="93.3801" height="99.0001" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
									feFlood(flood-opacity="0" result="BackgroundImageFix")
									feGaussianBlur(in="BackgroundImage" stdDeviation="5")
									feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_24_837")
									feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_24_837" result="shape")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="8")
									feGaussianBlur(stdDeviation="7.5")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 0.7975 0 0 0 0 0.9982 0 0 0 0 1 0 0 0 1 0")
									feBlend(mode="normal" in2="shape" result="effect2_innerShadow_24_837")
									feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
									feOffset(dy="-5")
									feGaussianBlur(stdDeviation="6")
									feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
									feColorMatrix(type="matrix" values="0 0 0 0 0.458823 0 0 0 0 0.156863 0 0 0 0 0.909804 0 0 0 0.14 0")
									feBlend(mode="normal" in2="effect2_innerShadow_24_837" result="effect3_innerShadow_24_837")
					
					p._text Надёжность

		section.container.-info
			.info 
				p._suptitle Поднимите продажи на новый уровень
				h2._title.-h2 Обрабатывайте заявки в удобной CRM системе
				._buttons
					- 
						let CRM = ['Заявки', 'Реестр заказов']

					each buttonText, index in CRM
						if index === 0
							button.c-button._button.active= buttonText
						else
							button.c-button._button= buttonText

				h3._title.-h3.active Контролируйте продажи в реальном времени
				._content.active
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Интерфейс в виде канбан-доски поможет не упустить ни одну заявку и довести клиента до заказа. Процесс работы отдела продаж станет для вас максимально прозрачным. Все заявки распределены по соответствующим этапам. Вы настраиваете какие статусы соответствуют вашему бизнес-процессу. 
							br
							br
							|	На одном экране вы видите: удобный фильтр заявок с шаблонами, поисковую строку, канбан-доску с этапами заявок, карточки заявок, сумму заявок на каждом этапе.
						a.c-button._button-link(href='#') Подробнее

				h3._title.-h3 Lorem ipsum dolor sit amet.
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, nisi? Ut nobis a non exercitationem sed, facere saepe. Eos explicabo reprehenderit beatae dolor quod expedita est accusamus tenetur error assumenda.
							br
							br
							|	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto odit odio et sunt consectetur. Porro, illum ea culpa similique quidem, ullam velit sint molestiae tempora soluta repudiandae voluptatem amet! Tempora?
						a.c-button._button-link(href='#') Подробнее

		section.container.-info
			.info 
				p._suptitle Вы больше не упустите ни одного клиента
				h2._title.-h2 Централизованное хранение данных о клиентах
				._buttons
					- 
						let DATA = ['Контрагенты', 'Представители', 'Юридические лица', 'Адреса', 'Заказы контрагента']

					each buttonText, index in DATA
						if index === 0
							button.c-button._button.active= buttonText
						else
							button.c-button._button= buttonText

				h3._title.-h3.active Ведите единую клиентскую базу
				._content.active
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Контрагент — физическое или юридическое лицо, которое выступает одной из сторон сделки. Контрагентом называют клиента, поставщика, подрядчика и партнера. 
							br
							br
							|	У каждого контрагента есть своя карточка, которая объединяет список представителей, юридических лиц и адресов контрагента. Заполните данные о контрагенте один раз и подставляйте данные в других местах системы: оформление заказа или заявки на доставку.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Lorem ipsum dolor sit amet.
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Контрагент — физическое или юридическое лицо, которое выступает одной из сторон сделки. Контрагентом называют клиента, поставщика, подрядчика и партнера. 
							br
							br
							|	У каждого контрагента есть своя карточка, которая объединяет список представителей, юридических лиц и адресов контрагента. Заполните данные о контрагенте один раз и подставляйте данные в других местах системы: оформление заказа или заявки на доставку.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Lorem, ipsum dolor.
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Контрагент — физическое или юридическое лицо, которое выступает одной из сторон сделки. Контрагентом называют клиента, поставщика, подрядчика и партнера. 
							br
							br
							|	У каждого контрагента есть своя карточка, которая объединяет список представителей, юридических лиц и адресов контрагента. Заполните данные о контрагенте один раз и подставляйте данные в других местах системы: оформление заказа или заявки на доставку.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Lorem ipsum dolor sit amet consectetur.
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Контрагент — физическое или юридическое лицо, которое выступает одной из сторон сделки. Контрагентом называют клиента, поставщика, подрядчика и партнера. 
							br
							br
							|	У каждого контрагента есть своя карточка, которая объединяет список представителей, юридических лиц и адресов контрагента. Заполните данные о контрагенте один раз и подставляйте данные в других местах системы: оформление заказа или заявки на доставку.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae quidem non exercitationem, facere sunt quaerat qui architecto quia repellat, cumque distinctio voluptates reiciendis, vel voluptatibus? Ipsa aliquid deleniti sint assumenda!
							br
							br
							|	Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sint, optio dolore fuga numquam, aperiam vitae harum, doloribus voluptatibus odio deleniti suscipit! Recusandae quasi voluptatem molestias molestiae unde, debitis numquam!
						a.c-button._button-link(href='#') Подробнее

		section.container.-info
			.info 
				p._suptitle Теперь все проще
				h2._title.-h2 Рассчитывайте заказ в удобных калькуляторах
				._buttons
					- 
						let CALCULATOR = ['Контрагенты', 'Представители', 'Юридические лица', 'Адреса', 'Заказы контрагента']

					each buttonText, index in CALCULATOR
						if index === 0
							button.c-button._button.active= buttonText
						else
							button.c-button._button= buttonText

				h3._title.-h3.active Настройте калькулятор из любой таблицы с ценами
				._content.active
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Настройте калькулятор из любой таблицы с ценами
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Настройте калькулятор из любой таблицы с ценами
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Настройте калькулятор из любой таблицы с ценами
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Настройте калькулятор из любой таблицы с ценами
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее

		section.container.-info
			.info 
				p._suptitle Все, что нужно, всегда под рукой
				h2._title.-h2 Храните всю информацию по заказу в карточке заказа
				._buttons
					- 
						let INFORMATION = ['Инфо', 'КП', 'Спецификация', 'Маршрут', 'Оплаты', 'Логистика', 'Задачи', 'История', 'Затраты']

					each buttonText, index in INFORMATION
						if index === 0
							button.c-button._button.active= buttonText
						else
							button.c-button._button= buttonText

				h3._title.-h3.active Вся информация в одном месте
				._content.active
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее
				h3._title.-h3 Вся информация в одном месте
				._content 
					img._img(src='https://picsum.photos/600/600')
					._column 
						p._text 
							|	Преобразуйте абсолютно любую таблицу с ценами в калькулятор с удобным интерфейсом для использования.
							br
							br
							|	C помощью "стандартного" типа калькулятора можно настроить расчёт бесконечного числа разнообразных полиграфических продуктов, услуг и технологий: визитки, кружки, дизайн, шелкография, тампопечать и многое другое.
						a.c-button._button-link(href='#') Подробнее

		section.c-wrapper.-integration
			.container.-integration 
				.integration 
					h2._title Интеграция
					p._subtitle API-интеграции Hello Print с другими облачными сервисами
					._grid 
						- for(let i = 1; i < 13; i++)
							._item
								img._img(src=`assets/img/integration-${i}.png` alt='Интеграция')

		section.container.-client 
			.client 
				h2._title Клиенты и партнеры Hello Print
				._row
					- for(let i = 1; i < 4; i++)
						._item
							img._img(src=`assets/img/clients-0${i}.png` alt='Клиенты')

		section.c-wrapper.-features
			.container.-features 
				.features
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									g(clip-path="url(#clip0_435_183)")
										g(filter="url(#filter0_bii_435_183)" style='overflow: hidden')
											rect(x="28" y="39" width="95" height="71" rx="10" fill="#E5FFFF" fill-opacity="0.78")
										rect(class='crm-animation--r' x="42" y="10" width="21" height="14" rx="3" fill="url(#crm-gradientR-0)")
										rect(class='crm-animation--blue-d' x="42" y="51" width="21" height="14" rx="3" fill="url(#crm-gradient-0)")
										rect(class='crm-animation--blue-d' x="42" y="68" width="21" height="14" rx="3" fill="url(#crm-gradient-1)")
										rect(class='crm-animation--blue-e' x="42" y="84" width="21" height="14" rx="3" fill="url(#crm-gradient-2)")
										rect(class='crm-animation' x="66" y="51" width="21" height="14" rx="3" fill="url(#crm-gradient-3)")
										rect(class='crm-animation' x="66" y="68" width="21" height="14" rx="3" fill="url(#crm-gradient-4)")
										rect(class='crm-animation--r' x="90" y="10" width="21" height="14" rx="3" fill="url(#crm-gradientR-1)")
										rect(class='crm-animation--blue-e' x="90" y="51" width="21" height="14" rx="3" fill="url(#crm-gradient-5)")
									defs
										filter(id="filter0_bii_435_183" x="21" y="32" width="109" height="85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
											feFlood(flood-opacity="0" result="BackgroundImageFix")
											feGaussianBlur(in="BackgroundImage" stdDeviation="3.5")
											feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_435_183")
											feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_435_183" result="shape")
											feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
											feOffset(dx="1" dy="5")
											feGaussianBlur(stdDeviation="2.5")
											feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
											feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
											feBlend(mode="normal" in2="shape" result="effect2_innerShadow_435_183")
											feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
											feOffset(dy="-5")
											feGaussianBlur(stdDeviation="6")
											feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
											feColorMatrix(type="matrix" values="0 0 0 0 0.648701 0 0 0 0 0.906026 0 0 0 0 0.908333 0 0 0 1 0")
											feBlend(mode="normal" in2="effect2_innerShadow_435_183" result="effect3_innerShadow_435_183")
										linearGradient(id="crm-gradientR-0" x1="42" y1="10" x2="42" y2="24" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#7528E8")
												animate(attributeName="stop-color" values="#7528E8; #01E0E2; #01E0E2" dur="1.4s" repeatCount="indefinite")
											stop(offset="100%" stop-color="#F693FF")
												animate(attributeName="stop-color" values="#F693FF; #3583F8; #3583F8" dur="1.4s" repeatCount="indefinite")
										linearGradient(id="crm-gradientR-1" x1="42" y1="10" x2="42" y2="24" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#7528E8")
												animate(attributeName="stop-color" values="#7528E8; #01E0E2; #01E0E2" dur="1.4s" repeatCount="indefinite")
											stop(offset="100%" stop-color="#F693FF")
												animate(attributeName="stop-color" values="#F693FF; #3583F8; #3583F8" dur="1.4s" repeatCount="indefinite")
										linearGradient(id="crm-gradient-0" x1="42" y1="51" x2="42" y2="65" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#01E0E2")
											stop(offset="100%" stop-color="#3583F8")
										linearGradient(id="crm-gradient-1" x1="42" y1="68" x2="42" y2="82" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#01E0E2")
											stop(offset="100%" stop-color="#3583F8")
										linearGradient(id="crm-gradient-2" x1="42" y1="84" x2="42" y2="98" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#01E0E2")
											stop(offset="100%" stop-color="#3583F8")
										linearGradient(id="crm-gradient-3" x1="66" y1="51" x2="66" y2="65" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#01E0E2")
											stop(offset="100%" stop-color="#3583F8")
										linearGradient(id="crm-gradient-4" x1="66" y1="68" x2="66" y2="82" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#01E0E2")
											stop(offset="100%" stop-color="#3583F8")
										linearGradient(id="crm-gradient-5" x1="90" y1="51" x2="90" y2="65" gradientUnits="userSpaceOnUse")
											stop(offset="0%" stop-color="#01E0E2")
											stop(offset="100%" stop-color="#3583F8")
										clipPath(id="clip0_435_183")
											rect(width="95" height="71" fill="white" transform="translate(28 39)")
							p._text CRM
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									path(d="M74.0909 47C74.0909 45.3431 72.7478 44 71.0909 44H47.9091C46.3025 44 45 45.3025 45 46.9091V70.0909C45 71.7478 46.3431 73.0909 48 73.0909H71.0909C72.7478 73.0909 74.0909 71.7478 74.0909 70.0909V47ZM64.3939 61.4545C63.3228 61.4545 62.4545 62.3228 62.4545 63.3939C62.4545 65.0005 61.1519 66.303 59.5455 66.303C57.9389 66.303 56.6364 65.0005 56.6364 63.3939C56.6364 62.3228 55.7681 61.4545 54.697 61.4545C53.0904 61.4545 51.7879 60.1521 51.7879 58.5455C51.7879 56.9389 53.0904 55.6364 54.697 55.6364C55.7681 55.6364 56.6364 54.7681 56.6364 53.697C56.6364 52.0904 57.9389 50.7879 59.5455 50.7879C61.1519 50.7879 62.4545 52.0904 62.4545 53.697C62.4545 54.7681 63.3228 55.6364 64.3939 55.6364C66.0003 55.6364 67.303 56.9389 67.303 58.5455C67.303 60.1521 66.0003 61.4545 64.3939 61.4545Z" fill="url(#paint0_linear_425_182)")
									path(d="M45 105.091C45 106.698 46.3025 108 47.9091 108H71.0909C72.7478 108 74.0909 106.657 74.0909 105V81.9092C74.0909 80.2523 72.7478 78.9092 71.0909 78.9092H48C46.3431 78.9092 45 80.2523 45 81.9092V105.091ZM54.697 90.5455H64.3939C66.0003 90.5455 67.303 91.848 67.303 93.4546C67.303 95.0612 66.0003 96.3637 64.3939 96.3637H54.697C53.0904 96.3637 51.7879 95.0612 51.7879 93.4546C51.7879 91.848 53.0904 90.5455 54.697 90.5455Z" fill="url(#paint1_linear_425_182)")
									path(d="M106.091 44H82.9091C81.2523 44 79.9091 45.3431 79.9091 47V105C79.9091 106.657 81.2523 108 82.9091 108H106.091C107.697 108 109 106.698 109 105.091V46.9091C109 45.3025 107.697 44 106.091 44ZM99.3031 84.7273H89.6061C87.9995 84.7273 86.697 83.4248 86.697 81.8182C86.697 80.2116 87.9995 78.9091 89.6061 78.9091H99.3031C100.909 78.9091 102.212 80.2116 102.212 81.8182C102.212 83.4248 100.909 84.7273 99.3031 84.7273ZM99.3031 73.0909H89.6061C87.9995 73.0909 86.697 71.7884 86.697 70.1818C86.697 68.5752 87.9995 67.2727 89.6061 67.2727H99.3031C100.909 67.2727 102.212 68.5752 102.212 70.1818C102.212 71.7884 100.909 73.0909 99.3031 73.0909Z" fill="url(#paint2_linear_425_182)")
									defs
										linearGradient(id="paint0_linear_425_182" x1="46.5767" y1="73.0916" x2="46.6718" y2="33.0002" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
												animate(attributeName="stop-color" values="#7528E8; #7528E8; #7528E8; #01E0E2;  #7528E8;  #7528E8;  #7528E8" dur="2.1s" repeatCount="indefinite")
											stop(offset="1" stop-color="#F693FF")
												animate(attributeName="stop-color" values="#F693FF; #F693FF; #F693FF; #3583F8;  #F693FF;  #F693FF;  #F693FF" dur="2.1s" repeatCount="indefinite")
										linearGradient(id="paint1_linear_425_182" x1="46.5775" y1="82" x2="46.4945" y2="117" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
												animate(attributeName="stop-color" values="#7528E8; #01E0E2; #7528E8; #7528E8;  #7528E8;  #7528E8;  #7528E8" dur="2.1s" repeatCount="indefinite")
											stop(offset="1" stop-color="#F693FF")
												animate(attributeName="stop-color" values="#F693FF; #3583F8; #F693FF; #F693FF;  #F693FF;  #F693FF;  #F693FF" dur="2.1s" repeatCount="indefinite")
										linearGradient(id="paint2_linear_425_182" x1="81.4863" y1="108.002" x2="81.5531" y2="46.0001" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
												animate(attributeName="stop-color" values="#7528E8; #7528E8; #7528E8; #7528E8;  #7528E8;  #01E0E2;  #7528E8" dur="2.1s" repeatCount="indefinite")
											stop(offset="1" stop-color="#F693FF")
												animate(attributeName="stop-color" values="#F693FF; #F693FF; #F693FF; #F693FF;  #F693FF;  #3583F8;  #F693FF" dur="2.1s" repeatCount="indefinite")
							p._text Калькуляторы
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									circle(class='notification-animation--1' cx="74.8668" cy="99.3594" r="15.4031" transform="rotate(105 74.8668 99.3594)" fill="url(#paint0_linear_401_302)")
									path(class='notification-animation--2' d="M105.6 92.2178C103.722 92.2178 102.2 90.6956 102.2 88.8179V70.6844C102.2 58.0193 93.544 47.3763 81.8251 44.3481C80.3827 43.9754 79.5333 41.5741 79.5333 40.0843C79.5333 37.5846 77.4997 35.551 75 35.551C72.5004 35.551 70.4667 37.5846 70.4667 40.0843C70.4667 41.5743 69.6176 43.9753 68.175 44.3481C56.4561 47.3763 47.8 58.0193 47.8 70.6844V88.8178C47.8 90.6956 46.2777 92.2178 44.3999 92.2178C42.5222 92.2178 40.9999 93.7401 40.9999 95.6178C40.9999 97.4956 42.5222 99.0179 44.3999 99.0179H105.6C107.478 99.0179 109 97.4956 109 95.6178C109 93.7401 107.478 92.2178 105.6 92.2178Z" fill="url(#paint1_linear_401_302)")
									defs
										linearGradient(id="paint0_linear_401_302" x1="74.8668" y1="83.9564" x2="74.8668" y2="114.763" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint1_linear_401_302" x1="52.5" y1="99" x2="95" y2="85" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")
							p._text Уведомления
					._wrapper-item
						._item
							._animation 
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									path(class='loyality-animation' d="M113.223 72.8319L105.613 64.9668L107.147 54.1295C107.356 52.6556 106.358 51.2821 104.891 51.0249L94.1116 49.1349L88.9824 39.4665C88.2848 38.1512 86.6692 37.6276 85.3329 38.2807L75.4997 43.088L65.6673 38.2811C64.3295 37.6273 62.7154 38.1519 62.0174 39.4669L56.8882 49.1353L46.1087 51.0253C44.6425 51.2821 43.6443 52.656 43.8529 54.1299L45.3861 64.9671L37.7762 72.8319C36.7413 73.9015 36.7413 75.5995 37.7762 76.6694L45.3857 84.5349L43.8525 95.3726C43.6443 96.8461 44.6421 98.2196 46.1079 98.4771L56.8878 100.368L62.0174 110.036C62.715 111.351 64.3295 111.875 65.6669 111.221L75.4994 106.416L85.3329 111.221C85.7226 111.412 86.1354 111.502 86.5427 111.502C87.5328 111.502 88.4875 110.967 88.982 110.036L94.1116 100.368L104.892 98.4771C106.357 98.22 107.356 96.8461 107.147 95.3726L105.613 84.5349L113.224 76.6694C114.259 75.5995 114.259 73.9019 113.223 72.8319ZM100.709 81.6673C100.118 82.2788 99.8414 83.1298 99.9606 83.9727L101.309 93.5028L91.8298 95.1658C90.9916 95.313 90.2679 95.8387 89.8691 96.5904L85.3583 105.091L76.7113 100.865C76.329 100.678 75.9144 100.585 75.4994 100.585C75.0847 100.585 74.67 100.678 74.2878 100.865L65.6415 105.091L61.1307 96.5904C60.7319 95.8387 60.0082 95.313 59.17 95.1658L49.6908 93.5028L51.0389 83.9727C51.1581 83.1302 50.8818 82.2792 50.2898 81.6677L43.5987 74.751L50.2898 67.8351C50.8814 67.2236 51.1581 66.3726 51.0389 65.5301L49.6908 56.0004L59.1697 54.3385C60.0082 54.1917 60.7319 53.6655 61.1311 52.9139L65.6415 44.4118L74.2874 48.6389C75.052 49.0131 75.946 49.0131 76.7113 48.6389L85.3579 44.4118L89.8687 52.9139C90.2675 53.6655 90.9913 54.1917 91.8298 54.3385L101.309 56.0004L99.9602 65.5301C99.841 66.373 100.117 67.2236 100.709 67.8355L107.4 74.751L100.709 81.6673Z" fill="url(#paint0_linear_408_662)")
									path(d="M66.7354 72.6683C70.4198 72.6683 73.4169 69.6711 73.4169 65.9875C73.4169 62.3023 70.4198 59.3044 66.7354 59.3044C63.0506 59.3044 60.0531 62.3023 60.0531 65.9875C60.0531 69.6715 63.051 72.6683 66.7354 72.6683ZM66.7354 63.7196C67.9852 63.7196 69.0018 64.7369 69.0018 65.9875C69.0018 67.2369 67.9849 68.2531 66.7354 68.2531C65.4852 68.2531 64.4682 67.2366 64.4682 65.9875C64.4682 64.7369 65.4852 63.7196 66.7354 63.7196Z" fill="url(#paint1_linear_408_662)")
									path(d="M88.8286 61.4226C87.967 60.5605 86.5685 60.5601 85.7071 61.4226L62.1716 84.9577C61.3096 85.8198 61.3096 87.2175 62.1716 88.0796C62.6028 88.5108 63.1676 88.726 63.7327 88.726C64.2975 88.726 64.8626 88.5104 65.2938 88.0796L88.829 64.5444C89.6907 63.6824 89.6907 62.2846 88.8286 61.4226Z" fill="url(#paint2_linear_408_662)")
									path(d="M84.2637 76.834C80.5796 76.834 77.5829 79.8311 77.5829 83.5148C77.5829 87.1999 80.58 90.1978 84.2637 90.1978C87.9488 90.1978 90.9467 87.1999 90.9467 83.5148C90.9467 79.8311 87.9488 76.834 84.2637 76.834ZM84.2637 85.7831C83.0146 85.7831 81.998 84.7657 81.998 83.5152C81.998 82.266 83.0146 81.2495 84.2637 81.2495C85.5139 81.2495 86.5316 82.266 86.5316 83.5152C86.5316 84.7654 85.5143 85.7831 84.2637 85.7831Z" fill="url(#paint3_linear_408_662)")
									defs
										linearGradient(id="paint0_linear_408_662" x1="41.1738" y1="111.503" x2="113.999" y2="111.684" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")
										linearGradient(id="paint1_linear_408_662" x1="70.5" y1="56.5" x2="63" y2="70" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint2_linear_408_662" x1="89.1567" y1="65.8887" x2="75.1593" y2="65.8887" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint3_linear_408_662" x1="94.5" y1="88" x2="80" y2="80" gradientUnits="userSpaceOnUse")
											stop(offset="0.0240226" stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")

							p._text Система лояльности
					._wrapper-item
						._item
							._animation 
								embed(type="image/svg+xml" src="assets/img/integration-animation.svg")
							p._text Интеграция
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									rect(class='analytics-animation--1' x="43" y="65" width="16" height="51" rx="8" fill="url(#paint0_linear_404_172)")
									rect(class='analytics-animation--3' x="91" y="90" width="16" height="26" rx="8" fill="url(#paint1_linear_404_172)")
									rect(class='analytics-animation--2' x="67" y="41" width="16" height="75" rx="8" fill="#E5FFFF" fill-opacity="0.78" filter="url(#filter0_bii_404_172)")
									defs
										filter(id="filter0_bii_404_172" x="60" y="34" width="30" height="89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
											feFlood(flood-opacity="0" result="BackgroundImageFix")
											feGaussianBlur(in="BackgroundImage" stdDeviation="3.5")
											feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_404_172")
											feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_404_172" result="shape")
											feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
											feOffset(dx="1" dy="5")
											feGaussianBlur(stdDeviation="2.5")
											feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
											feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
											feBlend(mode="normal" in2="shape" result="effect2_innerShadow_404_172")
											feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
											feOffset(dy="-5")
											feGaussianBlur(stdDeviation="6")
											feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
											feColorMatrix(type="matrix" values="0 0 0 0 0.648701 0 0 0 0 0.906026 0 0 0 0 0.908333 0 0 0 1 0")
											feBlend(mode="normal" in2="effect2_innerShadow_404_172" result="effect3_innerShadow_404_172")
										linearGradient(id="paint0_linear_404_172" x1="50" y1="106" x2="50" y2="74" gradientUnits="userSpaceOnUse")
											stop(offset="0" stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint1_linear_404_172" x1="95" y1="89" x2="95" y2="116" gradientUnits="userSpaceOnUse")
											stop(offset="0" stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")

							p._text Аналитика
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									path(class='api-animation--1' d="M89.9713 94.6625C89.2169 93.5243 88.6886 92.198 88.7884 90.8361C88.8349 90.2003 88.8583 89.5626 88.8583 88.9253C88.8583 88.2881 88.8349 87.6505 88.7884 87.0147C88.6886 85.6528 89.2169 84.3264 89.9714 83.1881C90.492 82.4028 90.8821 81.5275 91.1214 80.5899C91.672 78.4315 91.3619 76.1806 90.2479 74.2511L89.2581 72.5368C87.7469 69.9196 84.9289 68.2936 81.9039 68.2936C81.73 68.2936 81.5562 68.2991 81.3828 68.3099C80.0186 68.3951 78.6053 68.1857 77.4761 67.4154C76.4211 66.6957 75.3174 66.0575 74.169 65.5031C72.9374 64.9085 72.05 63.7874 71.4395 62.5636C71.02 61.7225 70.4579 60.9492 69.7671 60.2748C68.1734 58.7191 66.0689 57.8623 63.8413 57.8623H61.8618C59.6342 57.8623 57.5297 58.7191 55.9361 60.2747C55.2452 60.949 54.683 61.7224 54.2634 62.5635C53.6529 63.7872 52.7656 64.9082 51.5341 65.5027C50.3857 66.0573 49.282 66.6955 48.2268 67.4153C47.0977 68.1855 45.6844 68.3949 44.3201 68.3097C44.1467 68.2989 43.9728 68.2935 43.7988 68.2935C40.7739 68.2935 37.9559 69.9194 36.4447 72.5367L35.4554 74.2508C34.3414 76.1801 34.0312 78.4312 34.5818 80.5896C34.821 81.5272 35.211 82.4026 35.7315 83.1879C36.486 84.3262 37.0143 85.6526 36.9146 87.0146C36.868 87.6503 36.8446 88.2879 36.8446 88.9252C36.8446 89.5624 36.868 90.1999 36.9146 90.8356C37.0143 92.1977 36.4859 93.5241 35.7314 94.6625C35.2109 95.4477 34.8209 96.323 34.5816 97.2606C34.031 99.4192 34.3412 101.67 35.455 103.599L36.4449 105.313C37.9559 107.931 40.7739 109.557 43.799 109.557C43.9728 109.557 44.1465 109.551 44.3198 109.54C45.6842 109.456 47.0978 109.665 48.2272 110.435C49.2822 111.155 50.3858 111.793 51.5341 112.347C52.7656 112.942 53.6529 114.063 54.2634 115.287C54.683 116.128 55.245 116.901 55.9359 117.576C57.5296 119.131 59.634 119.988 61.8615 119.988H63.8411C66.0687 119.988 68.1732 119.131 69.7667 117.576C70.4577 116.901 71.0197 116.128 71.4393 115.287C72.0497 114.063 72.937 112.942 74.1685 112.347C75.3171 111.793 76.4209 111.155 77.4761 110.435C78.6051 109.665 80.0181 109.455 81.3821 109.54C81.5556 109.551 81.7296 109.557 81.9036 109.557C81.9038 109.557 81.9036 109.557 81.9038 109.557C84.9285 109.557 87.7466 107.931 89.2578 105.313L90.2473 103.599C91.3614 101.67 91.6715 99.4188 91.1209 97.2606C90.8818 96.3231 90.4918 95.4478 89.9713 94.6625ZM84.1823 84.3739C84.4985 85.8645 84.659 87.3958 84.659 88.9253C84.659 90.4549 84.4985 91.9862 84.1823 93.4768C83.9975 94.3467 84.381 95.2383 85.1392 95.7029C87.1353 96.9258 87.7817 99.4722 86.6111 101.5L85.6214 103.214C84.858 104.537 83.4338 105.358 81.9041 105.358C81.1951 105.358 80.4891 105.178 79.8625 104.837C79.0799 104.411 78.1142 104.525 77.4528 105.122C75.156 107.194 72.5066 108.726 69.5779 109.674C68.7312 109.949 68.1494 110.727 68.126 111.617C68.0644 113.956 66.1825 115.789 63.8415 115.789H61.8618C59.5208 115.789 57.6389 113.956 57.5773 111.617C57.5538 110.727 56.9721 109.949 56.1254 109.674C53.1967 108.726 50.5473 107.194 48.2503 105.122C47.8553 104.766 47.3519 104.581 46.8436 104.581C46.5009 104.581 46.1561 104.665 45.841 104.837C45.2052 105.183 44.5182 105.358 43.7993 105.358C42.2697 105.358 40.8453 104.537 40.0819 103.214L39.092 101.5C37.9215 99.4724 38.568 96.926 40.5641 95.7029C41.3223 95.2383 41.7056 94.3465 41.521 93.4768C41.2047 91.9862 41.0443 90.4549 41.0443 88.9253C41.0443 87.3962 41.2047 85.8646 41.521 84.3741C41.7056 83.5043 41.3223 82.6126 40.5643 82.148C38.5681 80.9248 37.9216 78.3784 39.0924 76.3506L40.0819 74.6365C40.8455 73.3142 42.2698 72.4928 43.7997 72.4928C44.5085 72.4928 45.2146 72.6731 45.8415 73.014C46.6239 73.4397 47.5897 73.3253 48.251 72.7287C50.548 70.6566 53.1975 69.1251 56.126 68.1762C56.9728 67.9021 57.5544 67.1237 57.5779 66.2342C57.6396 63.8944 59.5217 62.0617 61.8626 62.0617H63.8421C66.1831 62.0617 68.065 63.8945 68.1267 66.2342C68.15 67.1237 68.7319 67.9021 69.5786 68.1762C72.5075 69.1247 75.1567 70.6564 77.4536 72.7287C78.1151 73.3251 79.0809 73.4395 79.8633 73.014C80.4991 72.6682 81.1859 72.4928 81.9048 72.4928C83.4343 72.4928 84.8588 73.3144 85.6224 74.6366L86.6123 76.3507C87.7828 78.3784 87.1363 80.9248 85.1402 82.148C84.3808 82.6124 83.9975 83.5042 84.1823 84.3739Z" fill="url(#paint0_linear_416_771)")
									path(class='api-animation--2' d="M115.323 55.3721C114.814 54.4834 114.408 53.4911 114.461 52.4683C114.475 52.1958 114.483 51.9228 114.483 51.65C114.483 51.3773 114.475 51.1044 114.461 50.8318C114.408 49.809 114.814 48.8166 115.323 47.9279C115.55 47.5316 115.725 47.1024 115.84 46.6488C116.171 45.3537 115.985 44.0032 115.316 42.8455L114.722 41.8169C113.816 40.2466 112.125 39.271 110.31 39.271V39.271C109.295 39.271 108.243 39.1253 107.393 38.5704C106.931 38.269 106.455 37.993 105.964 37.743C105.05 37.2774 104.392 36.4293 103.875 35.5433C103.645 35.1501 103.362 34.7856 103.028 34.4597C102.072 33.5263 100.809 33.0122 99.4724 33.0122H98.2846C96.9481 33.0122 95.6854 33.5263 94.7292 34.4596C94.3953 34.7855 94.1115 35.15 93.8822 35.5432C93.3654 36.4292 92.7069 37.2773 91.793 37.7428C91.3023 37.9928 90.8257 38.2688 90.364 38.5702C89.514 39.1252 88.4619 39.2709 87.4469 39.2709V39.2709C85.6319 39.2709 83.9411 40.2465 83.0344 41.8168L82.4408 42.8453C81.7724 44.0029 81.5863 45.3535 81.9166 46.6486C82.0323 47.1022 82.2069 47.5315 82.4339 47.9278C82.943 48.8165 83.3492 49.8089 83.2957 50.8317C83.2815 51.1043 83.2743 51.3772 83.2743 51.6499C83.2743 51.9227 83.2815 52.1955 83.2957 52.468C83.3492 53.4909 82.9429 54.4833 82.4338 55.3721C82.2068 55.7684 82.0323 56.1976 81.9165 56.6512C81.5862 57.9463 81.7723 59.2969 82.4406 60.4545L83.0345 61.4829C83.9411 63.0533 85.6319 64.0288 87.447 64.0288V64.0288C88.462 64.0288 89.5141 64.1746 90.3639 64.7295C90.8256 65.031 91.3023 65.3069 91.793 65.5569C92.7069 66.0225 93.3654 66.8706 93.8821 67.7565C94.1114 68.1497 94.3952 68.5142 94.7291 68.8401C95.6853 69.7736 96.948 70.2874 98.2844 70.2874H99.4723C100.809 70.2874 102.071 69.7735 103.028 68.8401C103.362 68.5142 103.645 68.1497 103.875 67.7565C104.391 66.8706 105.05 66.0225 105.964 65.5569C106.454 65.3069 106.931 65.0309 107.393 64.7295C108.243 64.1746 109.295 64.0288 110.31 64.0288V64.0288C110.31 64.0288 110.31 64.0288 110.31 64.0288C112.125 64.0288 113.815 63.0533 114.722 61.4829L115.316 60.4545C115.984 59.2969 116.17 57.9461 115.84 56.6512C115.724 56.1976 115.55 55.7684 115.323 55.3721ZM111.677 48.9192C111.867 49.8135 111.963 50.7323 111.963 51.65C111.963 52.5677 111.867 53.4866 111.677 54.3809C111.566 54.9028 111.796 55.4378 112.251 55.7165C113.449 56.4503 113.837 57.9782 113.134 59.1951L112.54 60.2235C112.082 61.0168 111.228 61.5095 110.31 61.5095C109.885 61.5095 109.461 61.4015 109.085 61.1968C108.616 60.9414 108.036 61.0101 107.639 61.3681C106.261 62.6114 104.672 63.5302 102.914 64.0995C102.406 64.2641 102.057 64.731 102.043 65.2647C102.006 66.6686 100.877 67.7683 99.4725 67.7683H98.2846C96.8801 67.7683 95.7509 66.6686 95.7139 65.2647C95.6998 64.7309 95.3508 64.264 94.8428 64.0995C93.0856 63.5305 91.4959 62.6114 90.1178 61.3681C89.8807 61.1544 89.5787 61.0437 89.2737 61.0437C89.0681 61.0437 88.8612 61.0939 88.6722 61.1969C88.2907 61.4044 87.8785 61.5097 87.4472 61.5097C86.5294 61.5097 85.6747 61.0168 85.2167 60.2234L84.6228 59.1949C83.9204 57.9783 84.3083 56.4504 85.506 55.7165C85.961 55.4378 86.1909 54.9027 86.0802 54.3809C85.8904 53.4866 85.7942 52.5677 85.7942 51.65C85.7942 50.7325 85.8904 49.8136 86.0802 48.9193C86.1909 48.3974 85.961 47.8624 85.5061 47.5836C84.3084 46.8497 83.9205 45.3219 84.623 44.1052L85.2167 43.0767C85.6748 42.2833 86.5295 41.7905 87.4474 41.7905C87.8727 41.7905 88.2964 41.8987 88.6725 42.1033C89.1419 42.3586 89.7214 42.29 90.1182 41.932C91.4963 40.6888 93.0861 39.7699 94.8432 39.2006C95.3512 39.0361 95.7002 38.5691 95.7143 38.0353C95.7513 36.6315 96.8806 35.5318 98.2852 35.5318H99.4729C100.877 35.5318 102.007 36.6316 102.044 38.0353C102.058 38.5691 102.407 39.0361 102.915 39.2006C104.672 39.7697 106.262 40.6887 107.64 41.932C108.037 42.2899 108.616 42.3585 109.086 42.1033C109.467 41.8957 109.879 41.7905 110.31 41.7905C111.228 41.7905 112.083 42.2834 112.541 43.0768L113.135 44.1053C113.837 45.3219 113.449 46.8497 112.252 47.5836C111.796 47.8623 111.566 48.3973 111.677 48.9192Z" fill="url(#paint1_linear_416_771)")
									circle(cx="63" cy="89" r="12" fill="url(#paint2_linear_416_771)")
									circle(cx="99" cy="52" r="6" fill="url(#paint3_linear_416_771)")
									defs
										linearGradient(id="paint0_linear_416_771" x1="44.6382" y1="119.988" x2="23.2391" y2="69.4401" gradientUnits="userSpaceOnUse")
											stop(offset="0.0240226" stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint1_linear_416_771" x1="83.6131" y1="70.2878" x2="116" y2="70.3584" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")
										linearGradient(id="paint2_linear_416_771" x1="55.3409" y1="101" x2="47.562" y2="80.9982" gradientUnits="userSpaceOnUse")
											stop(offset="0.0240226" stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint3_linear_416_771" x1="93.6505" y1="58.0001" x2="105" y2="58.027" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")
							p._text Открытый API
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									path(class='logistical-animation' d="M75 30C58.518 30 45.1086 43.4093 45.1086 59.8914C45.1086 80.0869 62.5213 94.0169 72.9251 102.34L75 104L77.0749 102.34C87.4787 94.0169 104.891 80.0869 104.891 59.8914C104.891 43.4093 91.4821 30 75 30ZM75 95.4796C62.9442 85.6646 51.7512 74.7329 51.7512 59.8914C51.7512 47.0719 62.1805 36.6425 75 36.6425C87.8195 36.6425 98.2489 47.0719 98.2489 59.8914C98.2489 74.7329 87.0558 85.6646 75 95.4796Z" fill="url(#paint0_linear_408_527)")
									path(class='logistical-animation' d="M75 53.249C71.3373 53.249 68.3575 56.2288 68.3575 59.8915C68.3575 63.5542 71.3373 66.534 75 66.534C78.6627 66.534 81.6425 63.5542 81.6425 59.8915C81.6425 56.2288 78.6627 53.249 75 53.249Z" fill="url(#paint1_linear_408_527)")
									g(filter="url(#filter0_bii_408_527)")
										rect(x="42" y="114" width="67" height="6" rx="3" fill="#E5FFFF" fill-opacity="0.78")
									defs
										filter(id="filter0_bii_408_527" x="35" y="107" width="81" height="20" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
											feFlood(flood-opacity="0" result="BackgroundImageFix")
											feGaussianBlur(in="BackgroundImage" stdDeviation="3.5")
											feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_408_527")
											feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_408_527" result="shape")
											feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
											feOffset(dx="1" dy="5")
											feGaussianBlur(stdDeviation="2.5")
											feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
											feColorMatrix(type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0")
											feBlend(mode="normal" in2="shape" result="effect2_innerShadow_408_527")
											feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
											feOffset(dy="-5")
											feGaussianBlur(stdDeviation="6")
											feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
											feColorMatrix(type="matrix" values="0 0 0 0 0.648701 0 0 0 0 0.906026 0 0 0 0 0.908333 0 0 0 1 0")
											feBlend(mode="normal" in2="effect2_innerShadow_408_527" result="effect3_innerShadow_408_527")
										linearGradient(id="paint0_linear_408_527" x1="48.3492" y1="104.001" x2="104.891" y2="104.109" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")
										linearGradient(id="paint1_linear_408_527" x1="82" y1="56.5" x2="68" y2="64" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")

							p._text Логистика
					._wrapper-item
						._item
							._animation
								svg(width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="150" height="150" fill="white")
									circle(class='cost-animation--1' cx="75" cy="78.5" r="9.5" transform="rotate(-60 75 78.5)" fill="url(#paint0_linear_401_402)")
									circle(class='cost-animation--2' cx="75" cy="78.5" r="9.5" transform="rotate(-60 75 78.5)" fill="url(#paint1_linear_401_402)")
									circle(class='cost-animation--3' cx="75" cy="78.5" r="9.5" transform="rotate(-60 75 78.5)" fill="url(#paint2_linear_401_402)")
									path(d="M99.0469 60H54.375C53.3391 60 52.5 59.1609 52.5 58.125C52.5 57.0891 53.3391 56.25 54.375 56.25H99.375C100.411 56.25 101.25 55.4109 101.25 54.375C101.25 51.2684 98.7316 48.75 95.625 48.75H52.5C48.3574 48.75 45 52.1074 45 56.25V93.75C45 97.8926 48.3574 101.25 52.5 101.25H99.0469C102.33 101.25 105 98.727 105 95.625V65.625C105 62.523 102.33 60 99.0469 60ZM93.75 84.375C91.6793 84.375 90 82.6957 90 80.625C90 78.5543 91.6793 76.875 93.75 76.875C95.8207 76.875 97.5 78.5543 97.5 80.625C97.5 82.6957 95.8207 84.375 93.75 84.375Z" fill="url(#paint3_linear_401_402)")
									defs
										linearGradient(id="paint0_linear_401_402" x1="75" y1="69" x2="75" y2="88" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint1_linear_401_402" x1="75" y1="69" x2="75" y2="88" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint2_linear_401_402" x1="75" y1="69" x2="75" y2="88" gradientUnits="userSpaceOnUse")
											stop(stop-color="#01E0E2")
											stop(offset="1" stop-color="#3583F8")
										linearGradient(id="paint3_linear_401_402" x1="45" y1="72" x2="105" y2="72" gradientUnits="userSpaceOnUse")
											stop(stop-color="#7528E8")
											stop(offset="1" stop-color="#F693FF")
							p._text Затраты в заказе

	include assets/includes/footer.pug